@import "./colors/kanagawa-dragon.css";

* {
    font-family: "Hasklug Nerd Font Propo";
    font-weight: 600;
}

#waybar {
    background: @bg;
    color: @fg;
}

#workspaces button {
    color: @muted;
    border: solid 1px transparent;
    transition: all 0.3s;
}

#workspaces button.active {
    color: @fg;
}

#network,
#language,
#tray,
#wireplumber {
    padding: 0 12px;
}

#language {
    color: @yellow;
}

#wireplumber {
    color: @cyan;
}

#wireplumber.muted {
    color: @red;
}
