@import "./colors/rose-pine.css";

* {
    font-family: "Hasklug Nerd Font Propo";
    font-weight: 600;
}

#waybar {
    background: @bg;
    color: @fg;
    border-radius: 8px;
}

#workspaces button {
    color: @muted;
    padding: 0 6px;
    border-radius: 8px;
    transition: all 0.3s;
    border: solid 1px transparent;
}

#workspaces button.active {
    color: @fg;
    /* border: solid 1px @border; */
}

#network,
#language,
#tray,
#wireplumber {
    padding: 0 12px;
}

#language {
    color: @yellow;
}

#wireplumber {
    color: @cyan;
}

#wireplumber.muted {
    color: @red;
}
